{% include 'head' %}
{% include 'header' %}
<main class="container">
    <article class="post">
        <header class="post-header">
            <h1>{{ post.frontmatter.title }}</h1>
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </header>
        <div class="post-content">
            {{ post.html_content }}
        </div>
    </article>
    <nav class="post-nav">
        <a href="/blog/">&larr; Back to blog</a>
    </nav>
</main>
{% include 'footer' %}
