<header class="site-header">
    <div class="container">
        <h1>
            <a href="/" class="logo-link">
                <img src="/logo.svg" alt="Gesttalt Logo" class="logo-icon">
                <span>{{ site_title }}</span>
            </a>
        </h1>
        <nav class="site-nav">
            <a href="/blog/">Blog</a>
            <a href="/notes/">Notes</a>
            <a href="https://github.com/pepicrft/gesttalt">GitHub</a>
        </nav>
    </div>
</header>
